<body>
    <div class="navbar navbar-default navbar-fixed-top navbar-default">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>

            </a>
            <div class="nav-collapse">
              <ul class="nav">
                <li>
                  <div class="row">
                    <%= form_tag({controller: :words, action: :create}, id: :text) do  %>
                      <div class="col-md-3">
                        <div class="input-group"> 
                          <%= text_field_tag :text, '' ,:class => 'form-control form-sm', :placeholder => "English sentence: " %>
                          <span class="input-group-btn">
                            <button type="submit" class="btn btn-bootstrap ">
                            <%# submit_tag 'add',:class => 'btn btn-bootstrap' %>
                              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-1">
                      </div>
                    <% end %>
                    <div class="col-md-1" >
                      <p class="text-success">
                      <%= link_to t('milk_tea.word'), words_path, :class => 'btn  btn-link' %>
                      </p>
                    </div>
                    <div class="col-md-1" >
                      <%= link_to t('milk_tea.text'), texts_path, :class => 'btn btn-link'%>
                    </div>
                    
                    <%= form_tag("words/search/") do  %>
                      <div class="input-group">
                        <%= text_field_tag :search_word, '', :class => 'form-control form-sm', :placeholder => "search word" 	%>
                        <!--<input type="text" class="form-control" placeholder="Search for...">-->
                        <span class="input-group-btn">
                            
                            <button type="submit" class="btn btn-bootstrap ">
                              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                            
                            <!--<button class="btn btn-default" type="button">Go!</button>-->
                                                
                        </span>
                      </div><!-- /input-group -->
                    <% end %>
                    
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
























